
<!DOCTYPE html>
<html lang="ru" dir="ltr" style="height:100%">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/000000/monitor.png" type="image/png">
     <!-- Bootstrap begin -->
     <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
     <!-- Bootstrap end -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
     <script src="{% static 'js/base.js' %}"></script>

     {% block add_src %}
     {% endblock %}

     <title>
        {% block title %}
        {% endblock %}
     </title>

  </head>
 <header>
    <nav class="navbar navbar-dark bg-dark">
    <a class="badge badge-pill badge-primary" href="#">StepUnder</a>
    <a class="navbar-brand" href="{% url 'home_page' %}">Home</a>
    <a class="navbar-brand" href="{% url 'groups_list' %}">Groups</a>
    <a class="navbar-brand" href="{% url 'students_list' %}">Students</a>
    <a class="navbar-brand"  href="#">Schedule</a>
    <a class="navbar-brand"  href="#">Profile</a>
        {% block search %}
        {% endblock %}
    </nav>
     </header>
    <body>
      <main>
          {% block content %}
          {% endblock %}
      </main>
    </body>

<div class="container"></div>
    <footer>
      <section class="ft-legal">
        <ul class="ft-legal-list">
            <li>Contacts:</li>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li>+3809999999</li>
            <li>&copy; 2020 Copyright StepUnder Inc.</li>
        </ul>
      </section>
    </footer>
</html>
