{% extends 'Groups/base.html' %}

{% block title %}
Groups
{% endblock  %}

{% block search %}
<form class="form-inline my-2 my-lg-0" action = "{% url 'students_list' %}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "search">
  <button type="button" class="btn btn-success btn-sm" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<table style="width:1200px; margin-left:200px; margin-top:75px" class="table">
  <thead>
    <tr class="table-light">
      <th scope="col">
        <a href="{% url 'group_create' %}">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-journal-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
        </svg>
        </a>
      </th>
      <th scope="col">Name</th>
      <th scope="col">Faculty</th>
      <th scope="col">Students</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for group in context.page_object %}
    <tr class="table-light">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{group.name}}</td>
      <td>{{group.faculty}}</td>
      <td><a href="{{group.get_absolute_url}}">Students</a></td>
      <td><a href="{{group.get_update_url}}">Update</a></td>
      <td><a href="{{group.get_delete_url}}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if context.is_paginated %}
  <nav style="margin-left:650px">
  <ul class="pagination">
    <li class="page-item {% if not context.prev_url %}disabled{% endif %}">
      <a class="page-link" href="{{context.prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% for n in context.page_object.paginator.page_range %}
    {% if n == context.page_object.number %}
        <li class="page-item active">
          <a class = "page-link" href="?page={{n}}">{{n}}<span class="sr-only">(current)</span></a>
        </li>
      {% elif n > context.page_number|add:-3 and n < context.page_number|add:3 %}
        <li class = "page-item">
          <a class = "page-link" href="?page={{n}}">{{n}}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item {% if not context.next_url %}disabled{% endif %}">
      <a class="page-link" href="{{context.next_url}}">Next</a>
    </li>
  </ul>
</nav>
  <!-- -->
{% endif %}

{% endblock %}

