{% extends 'Groups/base.html' %}


{% block title %}
StepUnder
{% endblock %}

{% block add_src %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="main-div">
    <div id="secondary-div">
      <h1 class="display-4">Hello!</h1>
      <p class="lead">This is a simple web-site to make your study more easier and comfortable.</p>
      <hr class="my-4">
      <p>Check the schedule, see you marks and look for another students</p>
      {% if not request.user.is_active %}
      <p class="lead">
      <a class="btn btn-info btn-lg" href="{% url 'signup_url' %}" role="button">Sign up</a>
      </p>
      {% else %}
      <p class="lead">
      <a class="btn btn-danger btn-lg" href="{% url 'signout_url' %}" role="button">Sign out</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
