{% extends 'Groups/base.html' %}


{% block title %}
StepUnder
{% endblock %}

{% block add_src %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div id="main-div">
    <div id="secondary-div">
      <h1 class="display-4">Hello, student!</h1>
      <p class="lead">This is a simple web-site to make your study more easier and comfortable.</p>
      <hr class="my-4">
      <p>Check the schedule, see you marks and look for another students</p>
      <p class="lead">
      <a class="btn btn-info btn-lg" href="#" role="button">Sign in</a>
      </p>
    </div>
  </div>
{% endblock %}
