{% extends 'Groups/base.html' %}

{% block title %}
Delete mark
{% endblock %}

{% block add_src %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/group_marks_forms.css' %}">
{% endblock %}

{% block content %}
<div id="main-div">
  <form id="main-form" action = "{% url 'mark_delete' slug=slug id=id %}" method="POST">
    {% csrf_token %}
      <div class="card">
      <div class="card-body">
    <h5 class="card-title">Delete mark</h5>
    <p class="card-text">Are you sure want to delete this mark?</p>
    <a class="btn btn-primary" href="{% url 'marks_list' slug=slug %}" role="button">Cancel</a>
    <button type="submit" name = "button" class = "btn btn-danger">Delete</button>
  </div>
</div>
</form>
</div>
{% endblock %}
