{% extends 'Groups/base.html' %}

{% block title %}
Students
{% endblock %}

{% block add_src %}
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/object_list.css' %}">
{% endblock %}


{% block search %}
<form class="form-inline my-2 my-lg-0" action = "{% url 'students_list' %}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
{% if context.page_object %}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">
        <a href="{% url 'student_create' %}">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-journal-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
        </svg>
        </a>
      </th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Group</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for student in context.page_object %}
    <tr>
      <th scope="row">{{context.page_object.start_index|add:forloop.counter|add:-1}}</th>
      <td>{{student.first_name}}</td>
      <td>{{student.second_name}}</td>
      <td>{{student.group_id}}</td>
      <td>
        <div class="dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Option
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ student.get_absolute_url }}">Info</a>
        <a class="dropdown-item" href="{{ student.get_update_url }}">Update</a>
        <a class="dropdown-item" href="{{ student.get_delete_url }}">Delete</a>
        </div>
      </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div id="empty_list">
    <h1 class="display-4" >No students here yet</h1>
    <p class="lead"></p>
    <p  class="lead">
    <a class="btn btn-info btn-lg" href="{% url 'student_create' %}" role="button">New one</a>
    </p>
</div>
{% endif %}
<!-- Pagination -->
{% if context.is_paginated %}
  <nav>
  <ul class="pagination">
    <li class="page-item {% if not context.prev_url %}disabled{% endif %}">
      <a class="page-link" href="{{context.prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% for n in context.page_object.paginator.page_range %}
    {% if n == context.page_object.number %}
        <li class="page-item active">
          <a class = "page-link" href="?page={{n}}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{n}}<span class="sr-only">(current)</span></a>
        </li>
      {% elif n > context.page_number|add:-3 and n < context.page_number|add:3 %}
        <li class = "page-item">
          <a class = "page-link" href="?page={{n}}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{n}}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item {% if not context.next_url %}disabled{% endif %}">
      <a class="page-link" href="{{context.next_url}}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}