{% extends 'Groups/base.html' %}

{% block title %}
Update Student {{student.first_name}} {{student.second_name}}
{% endblock %}

{% block add_src %}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div style="text-align:left">
<form action = "{{ student.get_update_url }}" method = "post" enctype="multipart/form-data" style="display:inline-block">
 {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {% if field.errors %}
            <div class = "alert alert-danger">
               <p style="color:black">{{field.errors}}</p>
            </div>
        {% endif %}
        <p style="color:black">{{field.label}}</p>
        <p style="color:black">{{field}}</p>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Update</button>
</form>
<div id="map" style = "width:350px;height:350px"></div>
</div>
{% load static %}
<script src="{% static 'js/CreateMap.js' %}"></script>
{% endblock %}